<!-- item -->
<div class="col-md-4 col-md-offset-4 text-center">
    <div class="panel panel-danger panel-pricing">
        <div class="panel-heading">
            <i class="fa fa-desktop"></i>
            <h3><%= goods.name %> / item</h3>
        </div>
        <div class="panel-body text-center">
            <p><strong>$<%= goods.price %></strong></p>
        </div>
        <ul class="list-group text-center">
            <li class="list-group-item"><i class="fa fa-check"></i> <%= goods.count %> available</li>
        </ul>
        <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-danger" href="#">BUY NOW!</a>
        </div>
    </div>
</div>
<!-- /item -->